body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #E8EAF6;
}

h1 {
  text-align: center;
  background-image:linear-gradient(218deg, #CC00FF, #5756FF, #07FDFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#addTaskButton{
  width: 20%;
  height: 33.6px;
  background-image:linear-gradient(218deg, #CC00FF, #5756FF, #07FDFD);
  border-color: #B39DDB;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#taskInput {
  width: 70%;
  padding: 8px;
  border: 1px solid #B39DDB;
  background-color: #E8EAF6;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;}
.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid  #B39DDB;
  background-color: #D1C4E9; 
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background-color: #E8EAF6;
  margin: 6px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.task-item:last-child {
  border-bottom: none;
}

.task-text {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.completed .task-text {
  text-decoration: line-through;
  color: green;
}

.task-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkMark {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.deleteButton {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
